@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&dispaly=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;  
}
.banner
{
    min-height: 100vh;
    background: #120e0f url(bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 40px 100px;
    display: flex;
    align-items: center;
}
header
{
    position: absolute;
    top: 40px;
    display: flex;
    align-items: center; 
}
.logo img
{
    max-width: 120px;
}
.toggle
{
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    margin-right: 20px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #120e0f;
    transform: translateY(-6px);
    transition: 0.5s;
}
.toggle.active::before
{
    transform: translateY(0) rotate(45deg);
}
.toggle::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #120e0f;
    transform: translateY(6px);
    transition: 0.5s;
}
.toggle.active::after
{
    transform: translateY(0) rotate(-45deg);
}
.navigation
{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #120e0f url(menuBg.jpg);
    background-position: right;
    background-size: cover;
    display: none;
    padding-right: 100px;
}
.navigation.active
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.navigation li
{
    list-style: none;
    margin: 4px 0;
}
.navigation li a
{
    color: #fff;
    font-size: 2em;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
} 
.navigation li a:hover
{
    color: #e83c80;
}
.content
{
    position: relative;
    max-width: 700px;
}
.content.texting
{
    max-width: 600px;
    width: 100%;
}
.content p
{
    color: #fff;
    font-size: 1.2em;
    line-height: 1.75em;
    font-weight: 300;
}
.btn
{
    position: relative;
    background: #e83c80;
    color: #fff;
    padding: 10px 10px;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: none;

}
.btn:hover
{
    background: #d43071;
}
.btn ion-icon
{
    font-size: 2em;
    margin-right: 5px;
}
.socialicon
{
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.socialicon li
{
    list-style: none;
}
.socialicon li a
{
    font-size: 2em;
    color: #fff;
}
.socialicon li a:hover
{
    color: #e83c80;
}






